.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

nav label {
    display: none;
}

header {
  grid-area: header;
  flex-direction: column;
  height: 100%;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
  overflow: auto;
}

nav input#menu {
  display: none;
}

nav ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

nav li {
    display: block;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    border-bottom: 1px solid lightgrey;
}

nav a {
    text-decoration: none;
    color: inherit;
}

main {
  grid-area: content;
  overflow-y: auto;
  padding: 1em 1em 1em 1em;
}

main::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
main::-webkit-scrollbar-thumb {
    background: #FF0000;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
  font-size: 0.8em;
  text-align: center;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      auto /*minmax(75px, auto) /* Nav */
      1fr /* Content */
      /*minmax(75px, auto) *//* Sidebar */
      auto; /* Footer */
  }


  nav {
      margin: 0;
  }

  .collapsible-container {
      max-height: 0;
      overflow: hidden;
  }
  nav label {
      display: block;
      cursor: pointer;
      background: url(../images/menu.png) no-repeat right center;
      background-size: contain;
      padding: 10px 3em 10px 1em;
      text-align: right;
  }

  input:checked ~ .collapsible-container {
      max-height: 100%;
  }

  input:checked ~ label {
      background-image: url(../images/menu_rotated.png);
  }

}

/* RST matching styles */

html{
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
    overflow-y: scroll;
}

body{
    /*margin-left: 1em;*/
    margin-right: 0;
    overflow: hidden;
}

figure{
    margin:1em 40px;
}

pre{
    font-family:monospace,monospace;
    font-size:1em;
}

body,html{
    color:rgba(0,0,0,.75);
    font-size:1.1em;
    font-family:Lato,Helvetica Neue,Helvetica,sans-serif;
    font-variant-ligatures:common-ligatures;
    line-height:1.67;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

blockquote,dl,ol,p,pre,ul{
    margin:1.2em 0;
}

.subtitle {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0.5em;
}

.title {
    font-size:2em;
    text-align: center;
    margin: 0.5em 0;
}

h1 {
    font-size:1.8em;
}

h2 {
    font-size:1.6em;
}

h3,h4,h5,h6{
    font-size:1.4em;
}

h1,h2,h3,h4,h5,h6{
    margin:1.2em 0;
    line-height:1.33;
}

h1:after{ /*},h2:after{*/
    content:"";
    display:block;
    position:relative;
    top:.33em;
    border-bottom:1px solid hsla(0,0%,50%,.33);
}

a{
    color:#0c93e4;
    text-decoration:underline;
    text-decoration-skip:ink;
}

a:focus,a:hover{
text-decoration:none}
code,pre,samp{
    font-family:Roboto Mono,Lucida Sans Typewriter,Lucida Console,monaco,Courrier,monospace;
    font-size:.85em;
}

code *,pre *,samp *{
    font-size:inherit;
}

blockquote{
    color:rgba(0,0,0,.5);
    padding-left:1.5em;
    border-left:5px solid rgba(0,0,0,.1);
}

hr{
    border:0;
    border-top:1px solid hsla(0,0%,50%,.33);
    margin:2em 0;
}

pre>code{
    background-color:rgba(0,0,0,.05);
    display:block;
    padding:.5em;
    -webkit-text-size-adjust:none;
    overflow-x:auto;
    white-space:pre;
}

.toc ul{
    list-style-type:none;
    padding-left:20px;
}

table{
    background-color:transparent;
    border-collapse:collapse;
    border-spacing:0;
}

td,th{
    border-right:1px solid #dcdcdc;
    padding:8px 12px;
}

td:last-child,th:last-child{
    border-right:0;
}

td{
    border-top:1px solid #dcdcdc;
}

h3 a {
    color: inherit;
    text-decoration: none;
}
